root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.{c,h,cpp,hpp}]
indent_size = 4
indent_style = spaces
curly_bracket_next_line = true
indent_brace_style = Allman
spaces_around_operators = true
